{% extends './base.html' %}

{% block title %}Products{% endblock %}

{% block CustomCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
{% endblock %}

{% block body %}

<div class="container d-flex justify-content-center mt-50 mb-50 h-screen0">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card card-body">
                <div class="d-flex flex-sm-row flex-column text-center text-lg-left">
                    <div class="mr-auto p2">
                        <img src="https://i.imgur.com/5Aqgz7o.jpg" width="150" height="150" alt="">
                    </div>

                    <div class="p2">
                        <h6 class="media-title font-weight-semibold">
                            <a href="#" data-abc="true">Apple iPhone XR (Red, 128 GB)</a>
                        </h6>

                        <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
                            <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">Phones</a></li>
                            <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">Mobiles</a></li>
                        </ul>

                        <p class="mb-3">128 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 7MP Front Camera A12
                            Bionic Chip Processor | Gorilla Glass with high quality display </p>

                        <ul class="list-inline list-inline-dotted mb-0">
                            <li class="list-inline-item">All items from <a href="#" data-abc="true">Mobile point</a>
                            </li>
                            <li class="list-inline-item">Add to <a href="#" data-abc="true">wishlist</a></li>
                        </ul>
                    </div>

                    <div class="p2">
                        <h3 class="mb-0 font-weight-semibold">$459.99</h3>

                        <div>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>

                        <div class="text-muted">1985 reviews</div>

                        <a type="button" class="btn btn-primary mt-4 text-white" href="/cart"><i class="icon-cart-add mr-2"></i>
                            Comprar</a>
                    </div>
                </div>
            </div>

            <div class="card card-body mt-3">
                <div class="d-flex flex-sm-row flex-column text-center text-lg-left">
                    <div class="mr-auto p2">
                        <img src="https://i.imgur.com/Aj0L4Wa.jpg" width="150" height="150" alt="">

                    </div>

                    <div class="media-body">
                        <h6 class="media-title font-weight-semibold">
                            <a href="#" data-abc="true">Apple iPhone XS Max (Gold, 64 GB)</a>
                        </h6>

                        <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
                            <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">Phones</a></li>
                            <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">Mobiles</a></li>
                        </ul>

                        <p class="mb-3">256 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 15MP Front Camera
                            A12 Bionic Chip Processor | Gorilla Glass with high quality display </p>

                        <ul class="list-inline list-inline-dotted mb-0">
                            <li class="list-inline-item">All items from <a href="#" data-abc="true">Mobile junction</a>
                            </li>
                            <li class="list-inline-item">Add to <a href="#" data-abc="true">wishlist</a></li>
                        </ul>
                    </div>

                    <div class="p2">
                        <h3 class="mb-0 font-weight-semibold">$612.99</h3>

                        <div>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                        </div>

                        <div class="text-muted">2349 reviews</div>

                        <a class="btn btn-primary mt-4 text-white" href="/cart"><i class="icon-cart-add mr-2"></i>
                            Comprar</a>
                    </div>
                </div>
            </div>

            <div class="card card-body mt-3">
                <div class="d-flex flex-sm-row flex-column text-center text-lg-left">
                    <div class="mr-auto p2">

                        <img src="https://i.imgur.com/5Aqgz7o.jpg" width="150" height="150" alt="">

                    </div>

                    <div class="p2">
                        <h6 class="media-title font-weight-semibold">
                            <a href="#" data-abc="true">Apple iPhone XR (Red, 128 GB)</a>
                        </h6>

                        <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
                            <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">Phones</a></li>
                            <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">Mobiles</a></li>
                        </ul>

                        <p class="mb-3">128 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 7MP Front Camera A12
                            Bionic Chip Processor | Gorilla Glass with high quality display </p>

                        <ul class="list-inline list-inline-dotted mb-0">
                            <li class="list-inline-item">All items from <a href="#" data-abc="true">Mobile point</a>
                            </li>
                            <li class="list-inline-item">Add to <a href="#" data-abc="true">wishlist</a></li>
                        </ul>
                    </div>

                    <div class="p2">
                        <h3 class="mb-0 font-weight-semibold">$459.99</h3>

                        <div>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                        </div>

                        <div class="text-muted">1985 reviews</div>

                        <a type="button" class="btn btn-primary mt-4 text-white" href="/cart"><i class="icon-cart-add mr-2"></i>
                            Comprar</a>
                    </div>
                </div>
            </div>



            <div class="card card-body mt-3">
                <div class="d-flex flex-sm-row flex-column text-center text-lg-left">
                    <div class="mr-auto p2">

                        <img src="https://i.imgur.com/Aj0L4Wa.jpg" width="150" height="150" alt="">

                    </div>

                    <div class="p2">
                        <h6 class="media-title font-weight-semibold">
                            <a href="#" data-abc="true">Apple iPhone XS Max (Gold, 64 GB)</a>
                        </h6>

                        <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
                            <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">Phones</a></li>
                            <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">Mobiles</a></li>
                        </ul>

                        <p class="mb-3">256 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 15MP Front Camera
                            A12 Bionic Chip Processor | Gorilla Glass with high quality display </p>

                        <ul class="list-inline list-inline-dotted mb-0">
                            <li class="list-inline-item">All items from <a href="#" data-abc="true">Mobile junction</a>
                            </li>
                            <li class="list-inline-item">Add to <a href="#" data-abc="true">wishlist</a></li>
                        </ul>
                    </div>

                    <div class="p2">
                        <h3 class="mb-0 font-weight-semibold">$612.99</h3>

                        <div>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                        </div>

                        <div class="text-muted">2349 reviews</div>

                        <a type="button" class="btn btn-primary mt-4 text-white" href="/cart"><i class="icon-cart-add mr-2"></i>
                            Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}