{% extends './base.html' %}

{% block title %}Carrito{% endblock %}

{% block CustomCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<div class="h-sc mt-50 mb-50">
    <h1 class="d-flex text-xl font-medium justify-content-center items-end pt-3"><i class="items-start bi bi-cart"></i>Carrito</h1>
    <div class="py-2">
        {% if current_user.is_authenticated %}
        <div class="max-w-md mx-auto shadow-lg rounded-lg  md:max-w-5xl">
            <div class="md:flex ">
                <div class="w-full ">
                    <div class="md:grid d-flex justify-content-around">
                        <div class="col-span-3 p-3">
                            {% for product in user_products %}
                            <div class="d-flex justify-content-between border-t mt-2">
                                <div class="d-flex items-center pr-1 mt-2">
                                    <img src="{{ product.to_dict().img }}" class="rounded-full shadow-lg" style="width: 60px;">
                                    <div class="flex flex-col mt-2">
                                        <span class="md:text-md font-medium">{{ product.to_dict().name }}</span>
                                    </div>
                                </div>
                                <div class="d-flex items-center pr-0">
                                    <div class="pr-8 flex justify-content-end">
                                        <span class="font-semibold">-</span>
                                        <input type="text"
                                            class="focus:outline-none bg-gray-100 border h-6 w-8 rounded text-sm px-2 mx-2"
                                            value="1">
                                        <span class="font-semibold">+</span>
                                    </div>
                                    <div class="pr-2 ">
                                        <span class="text-xs font-medium">${{ product.to_dict().price }}</span>
                                    </div>
                                    <div>
                                        <i class="fa fa-close text-xs font-medium"></i>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="flex justify-between items-start mt-6 pt-6 border-t">
                                <div class="flex items-start">
                                    <a href="/productos">
                                        <i class="fa fa-arrow-left text-sm pr-2"></i>
                                    </a>
                                    <a href="/productos">
                                        <span class="text-md font-medium text-blue-500">Seguir comprando</span>
                                    </a>
                                </div>

                                <div class="flex justify-center items-end">
                                    <span class="text-sm font-medium text-gray-400 mr-1">Subtotal:</span>
                                    <span class="text-lg font-extrabold text-gray-800 "> $24.90</span>
                                </div>
                            </div>
                            <div class="d-flex mx-auto">
                                <a class="btn btn-custom-full mt-6 d-flex mx-auto" href="/checkout">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="max-w-md mx-auto shadow-lg rounded-lg  md:max-w-5xl">
            <div class="d-flex justify-content-center justify-center">
                <span class="text-sm font-bold text-gray-400 mr-1">Inicie sesión para ver su carrito de compras</span>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}