{% extends './base.html' %}

{% block title %}Products{% endblock %}

{% block CustomCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center mt-50 mb-50 h-screen0">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <form class="needs-validation" novalidate action="/productos" method="POST" >
                {% for product in products %}
                <div class="card card-body shadow-lg mt-4">
                    <div class="d-flex flex-sm-row flex-column text-center text-lg-left">
                        <div class="mr-auto p2">
                            <img src="{{ product.to_dict().img}}" width="150" height="150" alt="">
                        </div>
                        <div class="p2">
                            <h6 class="media-title font-weight-semibold">
                                <a href="#" data-abc="true">{{ product.to_dict().name }}</a>
                            </h6>  
                            <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
                                <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">{{ product.to_dict().subcategory }}</a></li>
                                <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">{{ product.to_dict().category }}</a></li>
                            </ul>
                            <p class="mb-3">{{ product.to_dict().description }}</p>
    
                            <ul class="list-inline list-inline-dotted mb-0">
                                <li class="list-inline-item">All items from <a href="#" data-abc="true">Mobile point</a>
                                </li>
                                <li class="list-inline-item">Add to <a href="#" data-abc="true">wishlist</a></li>
                            </ul>
                        </div>
    
                        <div class="p2">
                            <h3 class="mb-0 font-weight-semibold">${{ product.to_dict().price }}</h3>
    
                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
    
                            <div class="text-muted">{{ product.to_dict().reviews }} reviews</div>
    
                            <a type="button" class="btn btn-custom-full mt-4" href="/add_to_cart/{{ product.id }}"><i class="icon-cart-add mr-2"></i>
                                Comprar</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}